.applogo {
  background-image: url(/assets/firebaselogo.png);
  height: 40px;
  width: 40px;
  background-size:cover;
}

.beta-notice {
  font-size:10pt;
  padding: 5px;
  margin-bottom: 5px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 30px;
}

.spacer {
  flex: 1 1 auto;
}
