<h1>
  Firestandups
</h1>

<div *ngIf="(af.auth | async)?.uid">
  {{ auth.auth.displayName}}
</div>


<button md-raised-button (click)="login()" *ngIf="!(af.auth | async)?.uid">Login</button>
<button md-raised-button (click)="logout()" *ngIf="(af.auth | async)?.uid">Logout</button>

<hr>

<md-card class="app-input-section">
  <form #formStandup="ngForm" (ngSubmit)="saveStandup(formStandup.value)">
      <md-input ngModel name="yesterday" placeholder="What did I accomplish yesterday?" #yesterday maxLength="140">
        <md-hint align="end">
          {{yesterday.characterCount}} / 140
        </md-hint>
      </md-input><br>
      <md-input ngModel name="today" placeholder="What will I do today?" #today maxLength="140">
        <md-hint align="end">
          {{today.characterCount}} / 140
        </md-hint>
      </md-input><br>
      <md-input ngModel name="blocking" placeholder="What obstacles are impeding my progress?" #obstacles maxLength="140">
        <md-hint align="end">
          {{obstacles.characterCount}} / 140
        </md-hint>
      </md-input>
      <div>
        <button md-raised-button color="primary">Save</button>
        <button md-raised-button md-tooltip="This is a tooltip!">Cancel</button>
      </div>
  </form>
</md-card>

<hr>

<div *ngIf="(af.auth | async)?.uid">
  <md-card class="example-card" *ngFor="let item of items | async">
    <md-card-header>
      <div md-card-avatar class="example-header-image" style="background-image: url(https://lh4.googleusercontent.com/-Q7MhUS4Qmsc/AAAAAAAAAAI/AAAAAAAAYgw/WF2ZpvLAMdw/photo.jpg)"></div>
      <md-card-title>Juri</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-chip-list class="md-chip-list-stacked">
        <md-chip color="primary">
          <md-icon>done</md-icon><span>{{ item.yesterday }}</span>
        </md-chip>
        <md-chip color="accent">
          <md-icon>trending_flat</md-icon>
          <span>{{ item.today }}</span>
        </md-chip>
        <md-chip color="warn">
          <md-icon>error_outline</md-icon>
          <span>{{ item.blocking }}</span>
        </md-chip>
      </md-chip-list>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
