<app-toolbar [user]="auth" (login)="onLogin()" (logout)="onLogout()"></app-toolbar>

<div class="app-container" *ngIf="auth">
  <button md-fab class="new-entry" *ngIf="!isEditMode" (click)="addStandupNotes()"><md-icon>add</md-icon></button>

  <md-card class="app-input-section" *ngIf="isEditMode">
    <form #formStandup="ngForm" (ngSubmit)="saveStandup(formStandup.value)">
      <md-input-container>
        <input mdInput ngModel name="yesterday" placeholder="What did I accomplish yesterday?" #yesterday maxlength="140" autofocus>
        <md-hint align="end">
          {{yesterday.characterCount}} / 140
        </md-hint>
      </md-input-container>
      <br>

      <md-input-container>
        <input mdInput ngModel name="today" placeholder="What will I do today?" #today maxlength="140">
        <md-hint align="end">
          {{today.characterCount}} / 140
        </md-hint>
      </md-input-container><br>
      <md-input-container>
        <input mdInput ngModel name="blocking" placeholder="What obstacles are impeding my progress?" #obstacles maxlength="140">
        <md-hint align="end">
          {{obstacles.characterCount}} / 140
        </md-hint>
      </md-input-container>
      <div>
        <button md-raised-button color="primary">Save</button>
        <button md-raised-button type="reset" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </md-card>

  <div *ngIf="auth">
    <md-card class="example-card" *ngFor="let item of items | async">
      <md-card-header>
        <div md-card-avatar class="example-header-image" [style.background-image]="getProfilePicUrl(item.user.uid)"></div>
        <md-card-title><strong>{{ item.user.name }}</strong></md-card-title>
      </md-card-header>
      <md-card-content>
        <md-chip-list class="md-chip-list-stacked">
          <md-chip color="primary">
            <md-icon>done</md-icon><span>{{ item.yesterday }}</span>
          </md-chip>
          <md-chip color="accent">
            <md-icon>trending_flat</md-icon>
            <span>{{ item.today }}</span>
          </md-chip>
          <md-chip color="warn">
            <md-icon>error_outline</md-icon>
            <span>{{ item.blocking }}</span>
          </md-chip>
        </md-chip-list>
      </md-card-content>
      <md-card-actions *ngIf="auth.uid === item.user.uid">
        <button md-button>Edit</button>
        <button md-button (click)="deleteEntry(item)">Remove</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
